html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Goldman', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: clamp(26.13rem, 74vw, 74rem);
}
.header {
    margin-top: 2rem;
    display: flex;
    height: 3.63rem;
}
.logo {
    color: #232229;
}
.logo-text {
    color: rgb(35, 34, 41);
    font-family: Goldman;
    font-size: clamp(1.5rem, 2vw, 2rem);
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}
.navbar {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}
.navbar-list {
    margin-top: 1.8rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.9rem;
}
.navbar-item {
    font-size: 1rem;
    font-weight: 400;
    line-height: -0.06rem;
    letter-spacing: 1.6%;
    text-align: center;
    cursor: pointer;
}
.page-active {
    font-weight: 600;
    position: relative;
}
.page-active::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(254, 106, 58);
    top: -0.4rem;
    right: -0.6rem;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 5rem;
    height: 2.5rem;
    padding: 2px 12px 2px 8px;
    border: 1px solid;
    margin-right: 1.2rem;
    position: relative;
}
.cart-img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    color: #232229;
}
.cart::after {
    content: '';
    position: absolute;
    width: 2.44rem;
    height: 1px;
    transform: rotate(90deg);
    background-color: #232229;
    top: 1.14rem;
    left: 1.5rem;
}
.cart-score {
    color: #232229;
    padding: 1px 9px 1px 12px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 180%;
    text-align: left;
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile {
    margin-top: .44rem;
}
.line {
    background-image: url('./assets/line.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 13.44rem;
    height: 6rem;
    left: -0.31rem;
    top: 12.19rem;
}
.main-text {
    margin-top: 9.3rem;
    position: relative;
    width: clamp(24.25rem, 40vw, 40.19rem);
    height: clamp(12.76rem, 21.2vw, 21.19rem);
    color: rgb(35, 34, 41);
    font-family: Tahoma;
    font-size: clamp(3.01rem, 5vw, 5rem);
    font-weight: 400;
    line-height: 180%;
    text-align: left;
}
.main-text::before {
    content: '';
    width: 33.56rem;
    height: 1px;
    background-color: rgb(35, 34, 41);
    position: absolute;
    top: 10px;
    left: 0;
}
.main-text::after {
    content: '';
    width: 33.56rem;
    height: 1px;
    background-color: rgb(35, 34, 41);
    position: absolute;
    left: 0;
    top: 8.2rem;
}
.main-text>span {
    content: '';
    width: 21.61rem;
    height: 1px;
    background-color: rgb(35, 34, 41);
    position: absolute;
    left: 0;
    top: 18rem;
}
.header {
    width: 100%;
}
.main-left {
    max-width: 100%;
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22.81rem;
    height: 4.25rem;
}
.watch {
    width: 10.31rem;
    height: 4.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.06rem solid rgb(0, 0, 0);
    background: rgb(255, 251, 247);
    color: rgb(35, 34, 41);
    font-family: Goldman;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}
.view {
    width: 10.31rem;
    height: 4.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    border: 0.06rem solid rgb(0, 0, 0);
    background: rgb(255, 251, 247);
    color: rgb(35, 34, 41);
    font-family: Goldman;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
}

.btn-active {
    box-shadow: 0.38rem 0.38rem 0rem 0rem rgb(254, 106, 58);
    background: rgb(35, 34, 41);
    color: #fff
}
.inst {
    margin-top: 3.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    width: 17.81rem;
}
.inst>h3 {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    line-height: 180%;
    letter-spacing: 1.6%;
    text-align: left;
    text-transform: uppercase;
}
.inst>img {
    width: 1.25rem;
    height: 1.25rem;
    color: rgb(17, 17, 17);
}
.inst>h3::after {
    content: '';
    position: absolute;
    width: 7.4rem;
    height: 1px;
    background-color: rgb(35, 34, 41);;
    left: 123px;
    top: 13px;
}
.human {
    margin-top: .75rem;
    width: clamp(20.37rem, 35.43vw, 35.43rem);
    height: clamp(17.68rem, 31vw, 30.75rem);
    position: relative;
}

.h {
    position: relative;
}
.bg {
    position: absolute;
    width: clamp(20.8rem, 36.18vw, 36.18rem);
    height: clamp(14.09rem, 24.5vw, 24.51rem);
    left: clamp(-1rem, 3vw, -3rem);
    top: clamp(4.5rem, 7.5vw, 7.5rem);
}
.ne {
    content: url('./assets/mairne.svg');
    position: absolute;
    width: clamp(4.18rem, 7vw, 6.98rem);
    height: clamp(4.18rem, 7vw, 6.94rem);
    left: clamp(-2.1rem, 6vw, -6.1rem);
    top: clamp(3.6rem, 13vw, 12.6rem);
}
.next {
    margin-top: 2.7rem;
    position: relative;
}
.next::after {
    content: url('./assets/star.svg');
    position: absolute;
    width: 2.27rem;
    height: 2.51rem;
    right: 24.45rem;
    top: 1.1rem;
}
.next-left {
    margin-left: 0.1rem;
}
.left-first {
    margin-right: 1.25rem;
}
.right-text {
    margin-left: -21rem;
    margin-top: 0;
    width: 20rem;
    height: 10.13rem;
    color: rgb(35, 34, 41);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    position: relative;
}
.right-text::before {
    content: '“';
    color: rgb(163, 218, 245);
    font-size: 4rem;
    font-weight: 400;
    line-height: -0.06rem;
    letter-spacing: 0%;
    text-align: center;
    width: 4rem;
    height: 4.81rem;
    position: absolute;
    top: 0.7rem;
    left: -2.8rem;
}
.right-text::after {
    content: '“';
    color: rgb(163, 218, 245);
    font-size: 4rem;
    font-weight: 400;
    line-height: -0.06rem;
    letter-spacing: 0%;
    text-align: center;
    width: 4rem;
    height: 4.81rem;
    position: absolute;
    top: 8.7rem;
    left: 18.2rem;
}
.sd {
    position: absolute;
    width: 74rem;
    height: 5.5rem;
    overflow: hidden;
    margin: 0 auto;
    top: 19rem;
    right: 18.7rem;
}
.scroll-down {
    content: url('./assets/nextrSD.svg');
    position: absolute;
    width: 11rem;
    height: 11rem;
    top: .2rem;
    right: 1rem;
}
.menu {
    display: none;
    width: 0;
    height: 0;
}
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    transition: 2s;
}
@media (max-width: 1024px) {
    .navbar-list {
        margin-top: 20rem;
        flex-direction: column;
        display: none;
        width: 0;
        height: 0;
    }
    .main>.container {
        flex-direction: column;
    }
    .cart {
        border: none;
        margin-right: -2.4rem;
    }
    .cart::after {
        content: none;
    }
    .cart-score {
        display: none;
    }
    .main-text::after {
        content: none;
    }
    .main-text::before {
        content: none;
    }
    .main-text>span {
        display: none;
        width: 0;
        height: 0;
    }
    .container {
        margin-left: 1.5rem;
    }
    .next {
        height: 70rem;
    }
    .next-right {
        position: absolute;
        bottom: 7rem;
        left: 24.6rem;
    }
    .sd {
        top: 65rem;
        right: 2.7rem;
    }
    .next::after {
        right: -4.55rem;
        top: 47.1rem;
    }
    .menu {
        display: block;
        position: relative;
        z-index: 10;
        cursor: pointer;
    }
    .menu .bar:nth-child(1) {
        content: '';
        width: 1.8rem;
        height: 2px;
        background-color: #000;
        top: 0;
        left: 0;
        position: absolute;
        transition: .5s;
    }
    .menu .bar:nth-child(2) {
        content: '';
        width: 1.8rem;
        height: 2px;
        background-color: #000;
        top: 0.4rem;
        left: 0;
        position: absolute;
        transition: .5s;
    }
    .menu .bar:nth-child(3) {
        content: '';
        width: 1.8rem;
        height: 2px;
        background-color: #000;
        top: -0.4rem;
        left: 0;
        position: absolute;
        transition: .5s;
    }
    .profile {
        display: none;
        height: 0;
        width: 0;
    }
    .menu.menu__actove .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.menu__actove .bar:nth-child(1) {
        transform: translateY(-2px) rotate(45deg);
        background-color: white;
    }
    .menu.menu__actove .bar:nth-child(3) {
        transform: translateY(3px) rotate(-45deg);
        background-color: white;
    }
    .popup.open .navbar-list {
        margin: 0;
        margin-top: 3rem;
        gap: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    .popup.open .navbar-item {
        font-size: 2rem;
        color: rgb(240, 231, 231);
    }
    .popup.open {
        transition: 2s;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #272424c4;
    }
    body.noscroll {
        overflow: hidden;
    }
}